/* dropdown */
.dropdown-toggle {
  &:after {
    font-family: "Material Design Icons";
    line-height: 1;
    font-size: inherit;
    text-rendering: auto;
    border: none;
    vertical-align: initial;
    content: "\F140";
  }

  &.dropdown-toggle-split {
    &:after {
      margin-left: -16px;
      text-align: center;
      font-size: inherit;
    }
  }
}