/* Settings-panel */


.settings-panel {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 300px;
  height: 100vh;
  min-height: 100%;
  background: $white;
  @include transition-duration(0.4s);
  @include transition-property(right);
  z-index: 9999;

  .nav-tabs {
    @include display-flex;
    @include justify-content(space-between);
    margin: 0 1.25rem 1.25rem;

    .nav-item {
      width: 33.33%;
      border: none;

      .nav-link {
        text-align: center;
        border: none;

        &.active {
          border-bottom: 0.13rem solid theme-color(primary);
        }
      }
    }
  }

  .color-tiles {
    @include display-flex;
    @include justify-content(center);
    margin: 0 1.25rem 1.25rem;

    .tiles {
      width: 2.19rem;
      height: 2.19rem;
      margin: 0.13rem 0.19rem;

      &.primary {
        @extend .bg-primary;
      }

      &.success {
        @extend .bg-success;
      }

      &.warning {
        @extend .bg-warning;
      }

      &.danger {
        @extend .bg-danger;
      }

      &.pink {
        background: color(pink);
      }

      &.info {
        @extend .bg-info;
      }

      &.dark {
        @extend .bg-dark;
      }

      &.light {
        border: 1px solid lighten(color(gray),60%);
        @extend .bg-light;
      }
    }
  }

  .dropdown {
    margin: 0 1.25rem 1.25rem;

    .dropdown-toggle {}

    .dropdown-menu {
      width: 100%;
    }
  }

  .chat-list {
    padding-left: 0;

    .list {
      padding: 0.8rem;
      @include display-flex;
      @include justify-content(space-between);

      .profile {
        position: relative;
        margin-right: 1rem;

        img {
          width: 2.50rem;
          height: 2.50rem;
          @include border-radius(100%);
        }

        span {
          height: 0.75rem;
          width: 0.75rem;
          position: absolute;
          bottom: 0.34rem;
          right: 0;
          border: 0.13rem solid $white;
          @include border-radius(100%);

          &.online {
            background: theme-color(success);
          }

          &.ofline {
            background: theme-color(warning);
          }
        }
      }

      .info {
        margin-right: auto;

        p {
          display: block;
          margin-bottom: 0;
          @extend %ellipsor;

          &:last-child {
            opacity: 0.5;
            font-size: 0.8rem;
          }
        }
      }

      &.active {
        background: theme-color(light);
      }
    }
  }

  &.open {
    right: 0;
  }
}